<h1>Filling out: <%= @questionnaire_name %></h1>
<%= form_for(@response) do |f| %>
    <% if @response.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>
	    
	    <ul>
		<% @response.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <!-- Store questionnaire_id so we can associate the response with the questionnaire -->
    <%= f.hidden_field :questionnaire_id, :value => params[:id] %>
    
    <div class="field">
	<%= f.label :user, "Enter your name:" %><br>
	<%= f.text_field :user %>
    </div>

    <br>
    <!-- Loop through answers and pair them with a question -->
    <% i = 0 %>
    <%= f.fields_for :answers do |builder| %>
	<%= render 'answer_fields', builder: builder, i: i %>
	<% i += 1 %>
    <% end %>

    <br>
    <div class="actions">
	<%= f.submit :class => "btn btn-success" %>
    </div>

<% end %>
