<%= form_for(@response) do |f| %>
    <%= render 'layouts/check_error' %>

    <%= f.hidden_field :questionnaire_id, :value => params[:id] %>
    
    <div class="field">
	<%= f.label :user %><br>
	<%= f.text_field :user %>
    </div>

    <br>
    <% i = 0 %>
    <%= f.fields_for :answers do |builder| %>
	<%= render 'answer_fields' %>
	<% i += 1 %>
    <% end %>

    <div class="actions">
	<%= f.submit %>
    </div>

<% end %>
