<p id="notice"><%= notice %></p>
<h1>Listing Responses</h1>

<table id="responses" class="table table-striped">
    <thead>
	<tr>
	    <th>Questionnaire Name</th>
	    <th>User</th>
	    <th>Remove</th>
	</tr>
    </thead>

    <tbody>
	<% @responses.each do |response| %>
	    <tr>
		<td><%= link_to response.questionnaire.name, response, class: "btn btn-default" %></td>
		<td><%= response.user %></td>
		<td><%= link_to '', response, class: "btn btn-danger fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	<% end %>
    </tbody>
</table>


<%= link_to 'Fill Out Questionnaires', root_path, class: "btn btn-default" %>
