<p id="notice"><%= notice %></p>
<h1>Fill out a questionnaire!</h1>

<table id="questionnaires" class="table table-striped">
  <thead>
    <tr>
      <th>Questionnaire Name</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td class="tbl-btn"><%= link_to questionnaire.name, questionnaire, class: "btn btn-default tbl-btn"  %></td>
        <td><%= link_to '', edit_questionnaire_path(questionnaire), class: "btn btn-primary fa fa-pencil", "data-no-turbolink" => true %></td>
	<td><%= link_to '', questionnaire, class: "btn btn-danger fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Questionnaire', new_questionnaire_path, class: "btn btn-success", "data-no-turbolink" => true %>
<%= link_to 'View Responses', responses_path, class: "btn btn-default" %>
