<p id="notice"><%= notice %></p>
<h1>Fill out a questionnaire!</h1>

<table id="questionnaires" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= link_to questionnaire.name, questionnaire %></td>
	
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire), "data-no-turbolink" => true %></td>
        <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Questionnaire', new_questionnaire_path, "data-no-turbolink" => true %>
<br>
<%= link_to 'View Responses', responses_path %>
